/* .landing-container {
    display: flex;
    justify-content: center;
    height: 100vh;

} */

/* #signup-btn{
    position: absolute;
    margin-left: 50vw;
    margin-right: 50vw;
    bottom: 4rem;
} */
#signup-btn{
    position: absolute;
    bottom: 3vh;
    left: 40vw;
    width: 7vw;
}

/* .button {
    background-color: rgb(253, 253, 253);
    color: rgb(172, 99, 99);
    font-size: 20px;
    border: 2px solid rgb(199, 149, 149); 
    border-radius: 6px;
    margin: 2rem;
}

.buttons {
    background-color:rgb(199, 149, 149);
    border-radius: 6px;

} */
