nav {
    height:150px;
    background-color: rgba(214,177,177,255);
    display: flex;
    align-items: center;
}

.button {
    background-color: rgb(253, 253, 253);
    color: rgb(172, 99, 99);
    text-decoration: none;
    margin: 4rem;
    font-size: 20px;
    border: 2px solid rgb(199, 149, 149); 
    border-radius: 6px;
    padding: 5px 22px;
}