/* .home-container {
    display: flex;
    justify-content: center;
    height: 100vh;

}

h1 {
    margin: auto
}

.buttons{
    display: flex;
    position: absolute;
    bottom: 4rem;
} */

/* .button {
    background-color: rgb(253, 253, 253);
    color: rgb(172, 99, 99);
    text-decoration: none;
    font-size: 20px;
    border: 2px solid rgb(199, 149, 149); 
    border-radius: 6px;
    padding: 5px 22px;
    margin: 2rem;
} */