.testimonial-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    vertical-align: middle;
}

h2 {
    width: 80%
}

.test1 {
    width: 400px;
    display: flex;
    flex-direction: row-reverse;

}

.test2 {
    width: 400px;
    left: 600px;
    display: flex;
    position: static;
    float: right;
}

.test3 {
    width: 400px;
    display: flex;
    flex-direction: row-reverse;

}

.avatar {
    width: 55px;
}

